#map {
    width: 100%;
    height: 91.3vh;
}

body {
    background-color: #f7f7f7;
}

.form-popup {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
  }
  
  .form-popup .form-wrapper {
    top: 5em;
    max-width: 600px;
    border-radius: 5px;
    background: #fefefe;
    padding: 50px;
    padding-top: 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 40px 0 #000000;
  }
  
  .form-wrapper {
    overflow: auto;
    height: 75%;
    animation: open .3s ease forwards;
  }
  
  
  .form-wrapper::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  .form-wrapper::-webkit-scrollbar
  {
      width: 10px;
    border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  .form-wrapper::-webkit-scrollbar-thumb
  {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }
  
  
  .courses::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  .courses::-webkit-scrollbar
  {
    width: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .courses::-webkit-scrollbar-thumb
  {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }
  
  
  @keyframes open {
    0%{ transform: scale3d(.3, .3, .3); opacity: 0;}
    100%{ transform: scale3d(1, 1, 1); opacity: 1;}
  }
  
  
  .close-form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    font-size: 35px;
    text-transform: uppercase;
    margin: 15px 35px;
  }
  
  .close-form:hover {
    color: rgb(222, 0, 0);
    font-size: 40px;
    margin: 11px 33px;
  }
  
  .form-title {
    margin-bottom: 20px;
  }
  
  .logo{
    height: 100px;
  }
  
  .row label {
    margin: 10px;
  }
  
.popup-form label {
    margin-top: 10px;
    font-weight: bold;
}
  
.info_content {
    padding: 0 10px;
    max-width: 25em;
  }

.carousel-item > img { 
    height:350px; 
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.app-card {
    transition: .3s;
}

.app-card:hover {
    transform: translateY(-10px);
}

.card-body img {
    height: 50px;
}